/* main.css */
* {
    font-family: Calibri, sans-serif;
    color: #444;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

h1, h2 {
    color: #802823;
    font-size: 2em;
    margin-bottom: 30px;
    margin-top: 10px;
}

table-image {
    width: 150px;
    height: auto;
 }

img {
    width: 150px ;
    height: auto;
    }

.btn-submit {
    width: 20%;
    background: #802823;
    color: #fff;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.btn-submit:hover {
    color: #fff;
    background: #A27942;
}