/* main.css */
* {
    font-family: Calibri, sans-serif;
    color: #444;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

h1, h2 {
    color: #802823;
    font-size: 2em;
    margin-bottom: 30px;
    margin-top: 10px;
}

.container {
    margin-left: 20px;
}

.table {
    width: 90%;
    margin-top: 40px;
    border-collapse: collapse;
}

tr:nth-child(even) {background-color: #f2f2f2;}

th, td {
  border-bottom: 3px solid #ddd;
}

 td {
  text-align: center;
}

table-image {
    width: 100px;
    height: auto;
 }

img {
    width: 150px ;
    height: auto;
    }

.btn-submit {
    width: 20%;
    background: #802823;
    color: #fff;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.btn-submit:hover {
    color: #fff;
    background: #A27942;
}

.btn-submit_back {
    width: 20%;
    background: grey;
    color: #fff;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

