/* Reset some default styles */
* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

.container {
    max-width: 700px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #333;
    background: #fff;
}

h1 {
    margin-bottom: 10px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: normal;
    color: #555;
    background: #fff;
}

img {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0px;
  background-color: #ffffff;
  border-radius: 10px;
  box-sizing: border-box;  
}

.input-file {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #b0c4de;
}

.btn-submit {
    display: block;
    width: 100%;
    background: #4682B4;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.btn-submit:hover {
    background: #386890;
}

.logo-container {
    margin-top: 20px;
    background-color: #fff;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.logo-container img {
  width: auto;
  background-color: #fff;
  max-height: 100px;
}

.bernhard-nocht-logo {
    background-color: #fff;
    padding: 20px;
}
.haw-hamburg-logo {
    background-color: #fff;
    padding: 20px;
}

.logo-container-wings {
    margin-top: 0px;
    background-color: #fff;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.logo-container-wings img {
  width: auto;
  background-color: #fff;
  max-height: 300px;
}

.wing-example {
    background-color: #fff;
    padding: 20px;
}

.tooltip-text {
  background-color: #fff;
  color: #555;
  text-align: center;
  padding: 5px;
  border-radius: 15px;
}

/* Responsive design */
@media (max-width: 768px) {
    .container {
        padding: 15px;
    }
}
