/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    font-size: 18px; /* Default font size for body text */
}

.container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Section Styles */
main {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

section {
    margin-bottom: 0px;
}

.introduction, .upload-section, .contact {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #eee;
}

h1 {text-align: center;
    font-size: 2em;
    color: #802823;
}

/* Typography */
h2 {text-align: left;
    font-size: 1.5em;
    color: #802823;
}

.tooltip-text {
    line-height: 1.6;
}

/* Link Styles */
a {
    color: #802823;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Image Styles */
.image-container {
    text-align: center;
    margin: 20px 0;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.logo-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

.logo-container img {
    max-width: 100px; /* Set a max-width for logos */
    height: auto;
}

/* Contact Section */
.contact-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-info {
    flex: 1;
}

.contact-logo {
    flex: 1;
    text-align: center;
}

.contact-logo img {
    max-height: 120px;
    height: auto;
}

/* Button Styles */
.btn-submit {
    background-color: #802823;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-submit:hover {
    background-color: #A27942;
}

.btn-submit:disabled {
    background-color: #696969;
    cursor: not-allowed;
}

/* Form Styles */
.input-file {
    width: 100%;
    margin-bottom: 20px;
    font-size: 1em;}

