<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BALROG - Mosquito Classifier</title>
    <link rel="stylesheet" href="static/css/upload.css">
</head>
<body>
    <div class="container">
        
            <div class="contact-logo">
                <img src="{{ url_for('static', filename='images/balrog.png') }}" alt="Logo" class="header-logo">
            </div>
        
        <header>
            <h1>BALROG - Mosquito Wing Classifier</h1>
        </header>
        
        <main>
            <section class="introduction">
                <p class="tooltip-text"> This tool is designed for mosquito species identification based on uploaded images of wings.
                    It's currently in a testing phase, and while our classification model is generally reliable, occasional errors may occur.
                    Each result is accompanied by a confidence score to help assess the accuracy of the identification.
                    Currently the system is trained on <a href="/display_other_pdf">21 mosquito species</a> while some species are summarized under the label <a href="/display_other_pdf">"other"</a>.
                    You will receive a unique identifier for each submission for future reference. 
                </p>
            </section>
            
            <section class="upload-section">
                <h2>Upload Files</h2> 
                <p class="tooltip-text">For optimal classification, please ensure that the images have a neutral background and clearly show a single, intact mosquito wing.
                    Acceptable file formats include JPG, JPEG, PNG, TIF and TIFF. If you upload other files they will be ignored. You can upload up to 100 images per upload.
                    The model takes on average 3 seconds per image to classify. We highly recommend reviewing our <a href="/display_pdf">Image Capture Guidelines</a> for detailed instructions on preparing your mosquito wing specimens.
                    By uploading images, you agree to grant us the rights to use them for research and educational purposes, confirming that you own or have the necessary rights for the images.
                    <a href="/get_example"> Click here to get an example prediction.</a>
                </p>
                <div class="image-container">
                    <img src="{{ url_for('static', filename='images/wing-example-1.png') }}" alt="Wing Image Example">
                </div> 

                <form action="/upload_folder" method="POST" enctype="multipart/form-data">
                    <input type="file" name="file" multiple class="input-file" id="fileInput"/> 
                    <button type="submit" class="btn-submit" id="uploadButton" disabled>Upload & Classify</button>
                </form>

            </section>
            
            <section class="contact">
                <div class="contact-container">
                    <h2>Contact Us</h2>
                    <div class="contact-info">
                        <p class="tooltip-text">
                            Bernhard-Nocht Institute for Tropical Medicine<br>
                            Bernhard-Nocht-Straße 74<br>
                            20359 Hamburg, Germany<br>
                            Contact us at: <a href="mailto:kristopher.nolte@bnitm.de" class="tooltip">kristopher.nolte@bnitm.de</a>
                        </p>
                    </div>
                    <div class="contact-logo">
                        <img src="{{ url_for('static', filename='images/bernhard-nocht-logo.png') }}" alt="Bernhard Nocht Institute Logo">
                    </div>
                </div>
            </section>
        </main>
    </div>

    <script>
        // Get the file input and upload button elements
        const fileInput = document.getElementById('fileInput');
        const uploadButton = document.getElementById('uploadButton');

        // Listen for changes on the file input
        fileInput.addEventListener('change', function() {
            // Check if files are selected
            if (fileInput.files.length >  0) {
                // Enable the upload button
                uploadButton.disabled = false;
            } else {
                // Disable the upload button
                uploadButton.disabled = true;
            }
        });
    </script>
</body>
</html>
